# EditorConfig
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
indent_style = space
indent_size = 4

# JSON files
[*.json]
indent_style = space
indent_size = 2

# TypeScript/JavaScript files
[*.{ts,tsx,js,jsx}]
indent_style = space
indent_size = 2

# YAML files
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Bicep files
[*.bicep]
indent_style = space
indent_size = 2
